.image {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: rgb(210,197,195);
}

.navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: rgb(210,197,195);
}

#jumb {
  text-align: center;
  background: rgb(230,224,223);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(210,197,195,0.5);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(210,197,195);
  border-color: rgb(214,186,182);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(210,197,195);
  border-color: rgb(214,191,188);
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  /*background-color: #0069d9;*/
  background: rgb(210,197,195);
  border-color: rgb(210,197,195);
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

.shadow {
  box-shadow: 0 .5rem 1rem rgb(145,106,124)!important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a {
  color: #000000;
  text-decoration: inherit;
  background-color: transparent;
}

