@media (min-width:768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  color: #222;
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean .navbar-toggler {
  color: #888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.col-md-4.text {
  text-align: center;
  margin-top: 5vh;
}

.logo1 {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.logo2 {
  height: 100px;
  width: 100px;
  padding-bottom: 10px;
}

.logo3 {
  height: 100px;
  width: 100px;
  padding-bottom: 10px;
}

.row.givecolor {
  background: rgb(210,197,195);
}

.col-md-12.givecolor {
  background-color: rgb(210,197,195);
}

.container.midcont {
  padding-bottom: 20vh;
}

.heading {
}

.heading {
  text-decoration: inherit;
  font-size: larger;
  font-family: slab-serif;
}

.heading:hover {
  font-stretch: expanded;
  font-variant-caps: petite-caps;
  transform-style: preserve-3d;
}

